.brutal-border {
  border: 4px solid black;
  box-shadow: 5px 5px 0px black;
}

.brutal-title {
  background: black;
  color: yellow;
  padding: 5px 10px;
  display: inline-block;
}

.brutal-input {
  border: 3px solid black;
  background: #f0f0f0;
}

.brutal-btn {
  background: black;
  color: yellow;
  border: 3px solid black;
  cursor: pointer;
  transition: 0.2s;
}

.brutal-btn:hover {
  background: yellow;
  color: black;
}

.delete-btn {
  border: 3px solid black;
  padding: 6px 10px;
  background: red;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.status-done {
  background: #4ade80;
  padding: 3px 8px;
  border: 2px solid black;
}

.status-pending {
  background: #fbbf24;
  padding: 3px 8px;
  border: 2px solid black;
}
